* {
    font-family: "Roboto";
    
}

body {
    margin: 0
}

.mainGap div{
    margin-top:2.5vh;
    margin-bottom: 4.5vh;
}

.night {
    background-color: #1F2937;
    color: #1F2937;
}

.blank {
    background-color: white;
    color:white
}

.blueFrame {
    background-color: white;
    color: #3882F6;
    border-radius: 10%;
    margin-right: 1%;

}

.spaceEvenly {
    justify-content: space-evenly;
}

.horizontalCenter {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.auto {
    flex: auto;
}


.header {
    justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.headerText {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8
}

.boldText {
    font-weight: bold;
    font-size: 36px;
    color: black
}

.defaultText {
    font-weight: lighter;
    font-size: 18px;
    color: #E5E7EB

}

a.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

a.links {
    flex: 1, 1, auto;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 5px;
    margin-right: 5px;
}


.smallContentBox{
    max-width: 10%;
    max-height: 10%;
}

.medContentBox
{
    max-width: 40vw;
    max-height: 40vh;
}

.medContentBox button {
    margin-top: 10px
}

.imageBackground {
    background-color: gray;
    border: 0px;
    border-radius: 5%;
}


.outline {
    flex: auto;
    width: 40vw;
    height: 30vh;
    border: 3px;
    border-style: solid;
}
    
.nogap{
    margin: 0;
}

.buttonDefault {
    height: 5vh;
    width: 10vw;
    border-radius: 10%;
    font-weight: bold;
    color:#F9FAF8;

}

.buttonFill {
    background-color: #3882F6;
    border-color: #3882F6;
    border-style: solid;
}

.buttonOutline {
    
}


