* {
    background-color: #1F2937;
    font-family: "Roboto"
}

header {
    
}

.headerText {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8
}

div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

a.logo {
    flex: 1, 0.75, auto;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8
}

a.links {
    flex: 1, 0.75 auto;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 5px;
    margin-right: 5px;
}
